/* Styles de base */
body,
html {
  width: 100%;
  height: 100vh;
  background-color: #F4FAFF;
  color: #113264;
  font-family: 'Inter', sans-serif;
}

/* Ajout des classes Tailwind pour le mode clair et sombre */

/* Par défaut, les éléments auront le mode clair */
body {
    background-color: white;
    color: black;
  }
  
  /* Lorsque le mode sombre est activé */
  .dark body {
    background-color: #181818;
    color: white;
  }
  