
body ,html{
    width: 100%;
    height: 100vh;
    background-color: #F4FAFF ;
    color: #113264;
    font-family: 'Inter', sans-serif;
  }
  /* Classes Tailwind pour le fond clair et sombre */
body {
  @apply bg-white text-gray-900 dark:bg-[#113264] dark:text-white;
}

