@tailwind base;
@tailwind components;
@tailwind utilities;

  .bg-primary-radix{
    background-color:#FBFDFF ;
  }
  .bg-seconadary-radix{
    background-color:#F4FAFF ;
  }
  .state-radix{
     background-color:#E6F4FE ;  
  }
  .state-hover{
    background-color:#D5EFFF;  
  }
  .state-selected{
    background-color:#C2E5FF;  
  }
  .border-6{
    /* component not interactive */
    border-color:#ACD8FC ;
  }
  .border-7{
    /* component interactive */
    border-color:#8EC8F6 ;
  }
  .border-8{
    /* designed for stronger borders on interactive components and focus rings. */
    border-color:#5EB1EF ;
  }
  .bg-sold{
    /* Website/App backgrounds
Website section backgrounds
Header backgrounds
Component backgrounds
Graphics/Logos
Overlays
Coloured shadows
Accent borders */
    background-color: #0090FF;
  }
  .bg-solid-hover{

    background-color: #0588F0;
  }
  .low-contrast text{
    color: #0D74CE;
  }
  .high-contrast{
    color :#113264;
  }

